@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@theme {
    --font-sans: "Inter", sans-serif;
    --color-black: #000000;
    --color-white: #ffffff;

    /* Reference colors */
    --color-primary: #000000;
    --color-secondary: #88aab8;
    --color-accent: #ffffff;
    /* Changed accent to white for nuanu-like simplicity in some UI */
    --color-dark: #000612;
}

body {
    @apply bg-black text-white font-sans overflow-hidden;
}

/* Custom Utilities */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}